body > p {
    line-height: 50px;
}

#circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: lightblue;
    opacity: 0.8;
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
}