div {
    width: 0;
    height: 20px;
    background-color: green;
    animation-name: download;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-fill-mode: forwards; maintient l'animation à l'état final */
}

@keyframes download {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}