body {
    background-color: bisque;
}

h1 {
    text-align: center;
}

p {
    font-family: Arial;
    color: brown;
}

article {
    border: 2px dashed gray;
}

a {
    text-decoration: none;
    color: lightcoral;
}

section {
    background-color: lightgoldenrodyellow;
}

li {
    list-style: none;
}