body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightsalmon;
    height: 50px;
}

a {
    color: black;
    text-decoration: none;
}