div {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightsalmon;
    width: 200px;
    height: 200px;
    color: transparent;
    box-shadow: -5px -5px 5px lightgray;
    transition: all 1s ease;
}

p {
    transform: rotate(180deg);
}

div:hover {
    background-color: brown;
    color: white;
    transform: rotate(180deg);
    border-radius: 50px;
    box-shadow: 5px 5px 5px lightgray;
}