* {
    box-sizing: border-box;
}

body {
    background: lightgrey;
    font-family: Arial;
}

div {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 15px;
    width: 352px;
    text-align: center;
    box-shadow: 1px 1px 5px rgb(173, 170, 170);
}

img {
    border-radius: 15px 15px 0 0;
}

p {
    margin: 0 20px;
    line-height: 25px;
}

button {
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    margin: 25px 0;
    cursor: pointer;
    background-color: lightskyblue;
    color: white;
    font-weight: bold;
}